<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!-- 
    <add name="sqlconex" connectionString="Server=DESKTOP-9GDVFAJ\SQLEXPRESS;Database=AppPeinados;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    -->
		<add name="sqlconex"
			 connectionString="Server=DESKTOP-9GDVFAJ\SQLEXPRESS;Database=AppPeinados;User Id=sa;Password=1989;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>