<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>



	<connectionStrings>
		<!-- Usa ESTA si trabajas localmente con tu usuario de Windows 
		<add name="sqlconex"
			 connectionString="Server=DESKTOP-5SD7TF0\SQLEXPRESS;Database=Restaurante;Integrated Security=true;"
			 providerName="System.Data.SqlClient" />
-->
		
		<add name="sqlconex" 
     connectionString="Server=DESKTOP-5SD7TF0\SQLEXPRESS;Database=Restaurante;User Id=sa;Password=19890126;"/>
		
	</connectionStrings>
</configuration>